<div class="panel panel-details">
  <div class="panel-body">
    <h4 class="panel-title">Description</h4>
    {{#if isEditing}}
      {{bs-button
        type='primary'
        class='pull-right'
        defaultText='Enregistrer'
        pendingText='Enregistrement...'
        resolvedText='Enregistré'
        onClick=(route-action 'save')}}
      <div class='clearfix'></div>
      {{one-way-textarea description update=(action (mut description)) class='form-control'}}
    {{else}}
      <button class="btn btn-primary pull-right" {{action (mut isEditing) true}}>Modifier</button>
      <div class='clearfix'></div>
      <p>{{model.description}}</p>
    {{/if}}
  </div>
</div>
