<ul class="list-group">
  {{#if canAddGift}}
    <li class="list-group-item">
      {{one-way-input
        (unless isAdding name 'Enregistrement ...')
        class='form-control'
        placeholder='Nouvelle idée de cadeau'
        disabled=isAdding
        update=(action (mut name))
        keyEvents=(hash
          13=(route-action 'addGift')
          27=(action (mut showEditForm) false)
        )
      }}
    </li>
  {{/if}}
  {{#if hasGifts}}
    <li class="list-group-item">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
          {{#link-to (query-params filter='all' sortField=sortField sortDirection=sortDirection) tagName='button' class='btn btn-default'}}Tous{{/link-to}}
          {{#link-to (query-params filter='bought' sortField=sortField sortDirection=sortDirection) tagName='button' class='btn btn-default'}}Acheté(s){{/link-to}}
          {{#link-to (query-params filter='available' sortField=sortField sortDirection=sortDirection) tagName='button' class='btn btn-default'}}Dispo(s){{/link-to}}
        </div>
        <div class="btn-group btn-group-sm pull-right">
          {{#link-to (query-params filter=filter sortField=sortField sortDirection='asc') tagName='button' class='btn btn-default'}}<i class="glyphicon glyphicon-arrow-up"></i>{{/link-to}}
          {{#link-to (query-params filter=filter sortField=sortField sortDirection='desc') tagName='button' class='btn btn-default'}}<i class="glyphicon glyphicon-arrow-down"></i>{{/link-to}}
        </div>
        <div class="btn-group btn-group-sm pull-right">
          {{#link-to (query-params filter=filter sortField='name' sortDirection=sortDirection) tagName='button' class='btn btn-default'}}Nom{{/link-to}}
          {{#link-to (query-params filter=filter sortField='priority' sortDirection=sortDirection) tagName='button' class='btn btn-default'}}Priorité{{/link-to}}
        </div>
      </div>
    </li>
  {{/if}}
  {{#each sortedGifts as |gift|}}
    <li class="list-group-item gift-item {{if gift.isBought 'bought'}}">
      <div class="checkbox">
        <label>
          {{one-way-checkbox gift.isBought update=(action 'updateGiftStatus' gift)}} {{gift.name}}
        </label>
      </div>
      {{gift-priority gift=gift onUpdate=(route-action 'updateGift')}}
    </li>
  {{else}}
    {{#unless canAddGift}}
      <li class="list-group-item empty-list">
        <em class="empty-message">Votre liste de noêl est vide. <a class="alert-link" href="#" {{action (mut showEditForm) true}}>Ajouter une envie</a></em>
      </li>
    {{/unless}}
  {{/each}}
</ul>
