<ul class="list-group">
  {{#if canAddGift}}
    <li class="list-group-item">
      {{one-way-input
        (unless isAdding name 'Enregistrement ...')
        class='form-control'
        placeholder='Nouvelle idée de cadeau'
        disabled=isAdding
        update=(action (mut name))
        keyEvents=(hash
          13=(route-action 'addGift')
          27=(action (mut showEditForm) false)
        )
      }}
    </li>
  {{/if}}
  {{#each model as |gift|}}
    <li class="list-group-item gift-item {{if gift.isBought 'bought'}}">
      <div class="checkbox">
        <label>
          {{one-way-checkbox gift.isBought update=(action 'updateGiftStatus' gift)}} {{gift.name}}
        </label>
      </div>
      {{gift-priority gift=gift onUpdate=(route-action 'updateGift')}}
    </li>
  {{else}}
    {{#unless canAddGift}}
      <li class="list-group-item empty-list">
        <em class="empty-message">Votre liste de noêl est vide. <a class="alert-link" href="#" {{action (mut showEditForm) true}}>Ajouter une envie</a></em>
      </li>
    {{/unless}}
  {{/each}}
</ul>
